<div class="restart_section">
    @using (Html.BeginForm("Restart", "Game", FormMethod.Post))
    {
        <p>Вы выиграли!</p>
        <button type"submit" class="restart">Restart</button>
    }
</div>
<div id="restartOverlay"></div>